@use '../config' as *;

.sidebar {
    .MuiPaper-root  {
        background: #1c1c1cbd;
        width: $sidebar-width;
        position: fixed; 
        height: 100%; 
        z-index: $z-index-navbar;
        .MuiListItem-root {
            padding-bottom: 15px;
            padding-top: 15px;
            &.current {
                background-color: #a0acc957;
            }
            &:hover {
                cursor: pointer;
            }
        }

        .MuiListItemIcon-root {
            min-width: 45px;
            .MuiSvgIcon-root {
                border-radius: 5px;
                padding: 5px;
                height: 1.15em;
                width: 1.15em;
                background: $primary-color;
            }
        }
        .MuiListItemText-root {
            .MuiTypography-root  {
                font-weight: 600;
                color: $text-color-light;
            }
        }
    }
}